.splash-container
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-group
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg"
    .form-group
      = f.text_field :shop_name, autofocus: true, autocomplete: "shop_name", class: "form-control form-control-lg"
    .form-group
      = f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form-control form-control-lg"
    .form-group
      = f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control form-control-lg"
    .form-group
      = f.text_area :desc, autofocus: true, autocomplete: "desc", class: "form-control form-control-lg"
    .form-group
      = f.text_field :tax_code, autofocus: true, autocomplete: "tax_code", class: "form-control form-control-lg"
    .form-group
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
    .form-group
      = f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control form-control-lg"
    .form-group
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirm", class: "form-control form-control-lg"
    .form-group
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-lg"
    .form-group
      = f.submit "Update",  class: "btn btn-primary btn-lg btn-block"
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  class: "btn btn-primary btn-lg btn-block"}
  = link_to "Back", :back
