.dashboard-header
  %nav.navbar.navbar-expand-lg.bg-white.fixed-top
    %a.navbar-brand{:href => "/"} Rails Shop
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.navbar-right-top
        - if shop_account_signed_in?
          %li.nav-item
            = link_to current_shop_account.shop_name, edit_shop_account_registration_path, class: "nav-link"
          %li.nav-item
            = link_to "Logout", destroy_shop_account_session_path, :method => :delete, class: "nav-link"
        - elsif user_signed_in?
          %li.nav-item
            .cart-id
              %a{ href: carts_path, class: "nav-link"}
                %i.fa.fa-shopping-cart
              -##cart-id 1
          %li.nav-item
            = link_to current_user.user_name, edit_user_registration_path, class: "nav-link"
          %li.nav-item
            = link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link"

        - else
          -if resource_name.to_s == "user"
            %li.nav-item
              = link_to 'Shop Account?', edit_shop_account_registration_path, class: "nav-link"
          - else
            %li.nav-item
              = link_to 'User Account?', edit_user_registration_path, class: "nav-link"
          %li.nav-item
            = link_to "Sign up",  new_registration_path(resource_name), class: "nav-link"
          %li.nav-item
            = link_to "Login",  session_path(resource_name), class: "nav-link"
