%h1 Order Detail
%table.table.table-bordered
  %thead.thead-dark
    %tr
      %th Product
      %th Image
      %th Price
      %th Quantity
      %th Total
      %th
  %tbody
    - if @orders.present?
      - @orders.each do |order|
        %tr
          - order_title = "Orders " "#" + order.id.to_s + ' At: ' +order.created_at.strftime("%d/%m/%Y")
          %td{colspan: 6, class: "text-center bg-light"}= link_to  order_title, order_path(order.id)
        - order.order_products.each do |order_product|
          %tr
            %td= order_product.product.name
            %td= image_tag order_product.product.images_url, class: "image-thumb"
            %td= order_product.price
            %td= order_product.number
            %td= order_product.price * order_product.number
            %td= link_to "View", product_path(order_product.product.id)


