%h1 Cart Detail
%table.table
  %thead.thead-dark
    %tr
      %th Product
      %th Image
      %th Price
      %th Quantity
      %th Total
      %th{colspan: 2}
  %tbody
    -unless @carts.blank?
      - @carts.each do |cart|
        %tr
          = form_tag cart_path(cart['product_id']), method: :put do
            = hidden_field_tag :product_id, cart['product_id']
            %td= cart['name']
            %td= image_tag cart['image'], class: "image-thumb"
            %td= cart['price']
            %td
              = number_field_tag :number, cart['number'], min: 1
            %td= cart['total']
            %td
              = link_to cart_path(cart['product_id']), method: :delete, data: { confirm: "Are you sure?" } do
                %i.fa.fa-remove.text-danger
            %td
              = button_tag do
                %i.fa.fa-refresh.text-info
= link_to orders_path, method: :post, class: "float-right btn btn-warning btn-rounded mt-2 mb-2" do
  Confirm order
