%h1 Products Details
.row.wow.fadeIn{:style => "visibility: visible; animation-name: fadeIn;"}
  .col-md-6.mb-4
    = image_tag @product.images_url, class: "img-fluid"
  .col-md-6.mb-4
    .mb-3
      - @product.categories.each do |category|
        %span.mr-1=link_to category.name, category_path(category)
    %h2= @product.name
    .product-details
      %span.mr-1.font-bold Price:
      %span.mr-1= "$" + @product.price.to_s
      .mr-1.font-bold Description
      %p= @product.desc
    = form_tag '/add-to-cart', method: :post, remote: :true, class: "d-flex justify-content-left" do
      = hidden_field_tag :product_id, @product.id
      = text_field_tag :number, 1, class: "form-controle", type: :number, style: "width: 60px", min: 1
      = submit_tag "Add to cart", class: "btn btn-danger ml-3"
