%nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    %a.navbar-brand{:href => "/"} Sacachi Rails Shop
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        - if shop_account_signed_in?
          %li.nav-item
            = link_to "Shop dashboard", edit_shop_account_registration_path, class: "nav-link"
          %li.nav-item
            = link_to "Logout", destroy_shop_account_session_path, :method => :delete, class: "nav-link"
        - elsif user_signed_in?
          %li.nav-item
            .cart-id
              %a{ href: carts_path, class: "nav-link"}
                %i.fa.fa-shopping-cart
              -##cart-id 1
          %li.nav-item
            = link_to "Account dashboard", edit_user_registration_path, class: "nav-link"
          %li.nav-item
            = link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link"
        - else
          %li.nav-item
            = link_to "Shop Account", shop_account_session_path, class: "nav-link"
          %li.nav-item
            = link_to "User Account", user_session_path, class: "nav-link"
